bump2version>=0.5.11
wheel>=0.33.6
watchdog>=0.9.0
flake8>=3.7.8
tox>=3.14.0
coverage>=6.0b1
Sphinx>=3.5.4
twine
Click>=7.0
pytest>=4.6.5
pytest-runner>=5.1
numpy>=1.19.2
pandas>=1.2.3
webbot>=0.34
bs4>=0.0.1
gensim>=3.8.3
pyldavis>=3.3.1
scikit-learn>=0.24.1
nltk>=3.5
lime>=0.2.0.1
matplotlib>=3.3.4
funcy
wordcloud
pyppeteer
requests>=2.25.1
tqdm>=4.62.0
nest-asyncio>=1.5.1 
WordCloud>=1.8.1
